
* {
    background-color: rgb(43, 44, 44);
}

h1 {
    display: block;
    background-color: black;
    color: rgb(74, 9, 253);
    border-radius: 25px;
    padding: 20px;
    text-align: center;

}

h2 {
    text-align: center;
}